
body{
  background: #BA5370;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F4E2D8, #BA5370); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


  input[type="text"],[type="email"],textarea,button{
    display: block;
    margin-left: 35%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 400px;
    box-sizing: border-box;
    }

h5{
margin-left: 35%;
}



